/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.header {
    background-color: ghostwhite;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: #9d9d9d;

}

.header ul li {
    display: inline;
    font-size: medium;
    padding-bottom: 10px;
    padding-right: 10px;
    font-family: "Times New Roman", Georgia, Serif;
    text-transform: uppercase;
}

.header ul li:hover {
    border-bottom: 8px solid dodgerblue;
    font-color: gray;
    opacity: 0.5;
}

.header ul {

    border-bottom: 7px #FFFFFF;
    margin-bottom: 10px;
    padding-left: 0px;
    padding-bottom: 5px;
    width: 767px !important;
    line-height: 31px;

}

#textul {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2px;

}

.bar {
    background-color: #2D2D2D;
   padding: 10px;
    border-bottom: #9d9d9d;
}
.bar ul {
    margin-top:20px;
}

.bar ul li {
    color: white;
    display: inline;

}

#h1nobody {

    margin-top: 50px;
}

.clear ul li {
    display: block;
    display: inline;
    opacity: 1;
}

.header h1 {
    border-top: 50px;
    font-family: "opensansregular", Arial, Helvetica, sans-serif;
}

form {

    float: right;
    display: inline;
}

/*
form input {
    background-color: #b2dba1;
}width: auto;
*/
.butonas {
    padding-bottom: 7px;
    padding-top: 4px;
    text-transform: uppercase;

}

.divid {
    display: inline;
}

#div1 h1 {

    padding-top: 100px;
    margin-right: 20px;
    padding-bottom: 10px;
}

#div1 h4 {
    padding-bottom: 10px;
}

#div1 {
    border: 2px #0f0f0f;
}

.middleSection {
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #F1F1F1;


}
.format{
    width: 50%;
    height: 50%;
    
    float: right;
}

.sectiuneTrei {
    padding-bottom: 20px;

    padding-top: 100px;
    background-color: #FFFFFF;
}

.sectiuneTrei #div3 {
    text-decoration-color: #b2dba1;
    text-align: center;
    margin-bottom: 15px;

}

.div2 {

    color: cornflowerblue;
}

.divide {

    background-color: #b2dba1;
    border-left: 10px solid dodgerblue;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
    padding-left: 80px;
    margin-bottom: 20px;

}

.divide input {
    margin-top: 25px;
}

.footer {
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #1A1A1A;
}

.h1l {
    color: white;
    padding-left: 20px;
}

.alb {
    padding-top: 10px;
    color: white;
}

.read {
    float: right;

}

.lista {
    list-style: none;
}

.lista li {
    border-bottom: white;
}

.h1l p {
    color: gray;
    font-size: small;
    margin-bottom: 0px;
}

.gry {
    color: gray;
}

textarea {
    resize: none;
}

#buton {
    margin-top: 10px;
}

.message {
    background: #9d9d9d;
    border-radius: 8px;
    margin-bottom: 5px;
    border-color: transparent;

}

.button {
    background-color: #4CAF50;
    border: none;
    display: inline-block;
}

.button5 {
    border-radius: 50%;
    float: right;
}