/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.header {
    background-color: ghostwhite;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: #9d9d9d;

}

.header ul li {
    display: inline;
    font-size: medium;
    padding-bottom: 10px;
    padding-right: 10px;
    font-family: "Times New Roman", Georgia, Serif;
    text-transform: uppercase;
}

.header ul li:hover {
    border-bottom: 8px solid dodgerblue;
    font-color: gray;
    opacity: 0.5;
}

.container ul {

    border-bottom: 5px solid silver;
    margin-bottom: 10px;
    padding-left: 0px;
    padding-bottom: 5px;
    width: 781px !important;
    line-height: 31px;

}
#textul{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2px;


}

#h1nobody {

    margin-top: 50px;
}

.clear ul li {
    display: block;
    display: inline;
    opacity: 1;
}

.header h1 {
    border-top: 50px;
    font-family: "opensansregular",Arial,Helvetica,sans-serif;
}

form {

    float: right;
    display: inline;
}
/*
form input {
    background-color: #b2dba1;
}width: auto;
*/
.butonas {
    padding-bottom: 7px;
    padding-top: 4px;
    text-transform: uppercase;

}


.divid {
    display: inline;
}
#div1 h1{

   padding-top: 100px;
    margin-right: 20px;
    padding-bottom: 10px;
}
#div1 h4{
  padding-bottom: 10px;
}
#div1{
    border: 2px #0f0f0f;
}

.middleSection {
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: silver;
    border-top:20px gold;

}


.sectiuneTrei {
    padding-bottom: 20px;
    padding-top: 20px;
}

.footer {
    padding-bottom: 20px;
    padding-top: 20px;
}







